<nav class="navbar">
  <div class="container-nav mt-3">
      <span class="logo"><img src="/imagem/logoamarelo.png" style="width:47px;" alt=""> Nexum</span>
      <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/login" class="login-button"><i class='bx bx-user'></i> Login</a></li>
      </ul>
  </div>
</nav>
