<nav class="navbar">
    <div class="container-nav mt-3">
        <a href="/" class="logo"><img src="/imagem/logoamarelo.png" style="width:47px;" alt=""> Nexum</a>
        <ul class="nav-links">
        </ul>
    </div>
  </nav>
  <style>
    a:hover{
        color: #4b4b4b; 
        text-decoration: none;
    }

  </style>